[submodule "R3.JsonConfig"]
	path = R3.JsonConfig
	url = https://github.com/xm-i/R3.JsonConfig.git
[submodule "AutoDiAttributes"]
	path = AutoDiAttributes
	url = https://github.com/xm-i/AutoDiAttributes
