body{
	margin:0;
	padding:0;
}
#app {
	margin: 0;
	overflow: hidden;
	display: flex;
	height: 100vh;
	width: 100vw;
	font-family: monospace;
}

/* 左：ログ表示 */

#log-area {
	white-space: pre;
	display: grid;
	grid-template-columns: max-content 1fr;
	border-collapse: collapse;
	flex: 1;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	.log-line {
		display: grid;
		grid-template-columns: subgrid ;
		grid-column:span 2;
	}

	.line-number {
		grid-column: 1;
		white-space: pre;
		background: #DDD;
		user-select: none;
		pointer-events: none;
		text-align: right;
		padding: 0 4px 0 4px;
		font-variant-numeric: tabular-nums;
		white-space: pre;
		position: sticky;
		left: 0;
	}

	.line-content {
		grid-column: 2;
		white-space: pre;
		min-width: max-content;
		word-break: normal;
		padding: 0 4px 0 0;
	}
}

/* 右：スクロールバー */
#scroll-area {
	width: 20px;
	height: 100vh;
	border-radius: 5px;
	cursor: pointer;
	overflow: auto;
}
#scroll-virtual-content { height: 10000px; }
