body {
	margin: 0;
	padding: 0;
	user-select: none;
	scrollbar-width: thin;
}

#app {
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-family: monospace;
}
