/* ログ共通 */
.log-container {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-auto-rows: max-content;
	user-select: text;
}

.log-line {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: span 2;
}

.line-number {
	grid-column: 1;
	white-space: pre;
	background: #F3F3F3;
	user-select: none;
	text-align: right;
	padding: 0 4px 0 4px;
	font-variant-numeric: tabular-nums;
	position: sticky;
	left: 0;
	cursor: pointer;
	color: #003E92;
}

.line-content {
	grid-column: 2;
	white-space: pre;
	min-width: max-content;
	word-break: normal;
	padding: 0 4px 0 0;

	&.wrap {
		white-space: pre-wrap;
		min-width: 0;
	}
}