/* プログレスバー共通 */
.progress-bar-container {
	background: #ccc;
	width: 100%;
	height: 3px;

	.progress-bar {
		height: 100%;
		background: linear-gradient(90deg, #0f8a33, #28c76f, #0f8a33 );
		background-size: 200% 100%;
		animation: flowing-green 3s linear infinite;
		transition: width 0.2s ease-out;
	}
}

@keyframes flowing-green {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 0%;
	}
}