/* Split.js スタイル */

.gutter {
	cursor: row-resize;
	background-color: #f5f5f5;
	&.gutter-vertical {
		cursor: ns-resize;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
		background-repeat: no-repeat;
		background-position: 50%;
	}
}